{erl_opts, [debug_info]}.
{deps, [{snabbkaffe, {git, "https://github.com/kafka4beam/snabbkaffe.git", {tag, "0.13.0"}}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [lc
           ]}
]}.


{profiles,
 [ {test,
    [
     {deps, [ meck
            ]
     }
    ]}
 ]
}.

{xref_checks, [ undefined_function_calls
              , undefined_functions
              , locals_not_used
              , deprecated_function_calls
              , deprecated_functions
              ]}.
