{erl_opts, [debug_info]}.
{deps, [{snabbkaffe, "1.0.1"}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [lc
           ]}
]}.


{profiles,
 [ {test,
    [
     {deps, [ meck
            ]
     }
    ]}
 ]
}.

{xref_checks, [ undefined_function_calls
              , undefined_functions
              , locals_not_used
              , deprecated_function_calls
              , deprecated_functions
              ]}.
